<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div class="logo"><h3>Welcome [[${customer.name}]]</h3></div>
    <div class="card-container">
        <div class="card" th:if="${stock != null and stock.drink != null}" th:each="stock : ${stockList}">
            <a th:href="@{/drink/{id}(id=${stock.drink.drinkID})}"  style="text-decoration:none;color:inherit;">
            <img th:src="@{${stock.drink.imageUrl}}" alt="Drink image">
            <h3 th:text="${stock.drink.name}">Drink Name</h3>
            <p class="price" th:text="'Ksh ' + ${stock.drink.price}">Price</p>
            <p th:text="${stock.drink.description}">Description</p>
            <p th:text="'Available: ' + ${stock.stock} + ' units'">Stock Quantity</p>
        </div></a>
    </div>
    <a th:href="@{/logout}">Logout</a>
</body>
</html>
